
project_id = "fsmgynpdfxkaiiuguqyr"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322

[studio]
enabled = true
port = 54323

[functions.generate-problems]
verify_jwt = false

[functions.template-generator-cron]
verify_jwt = false

[functions.annual-grade-upgrade]
verify_jwt = false

[functions.test-template-generation]
verify_jwt = false
